<h1>Stock Chart</h1>

<% content_for :javascript_includes do %>
  <script type="text/javascript">
      $(function() {
          $('.datepicker').datepicker(
                  {
                      dateFormat: "yy-mm-dd",
                  }
          );
      });
  </script>
<% end %>

<%= form_tag(goto_stock_chart_path, method: "get") do %>
    <%= label_tag :symbol, "Stock Symbol"  %>  <%= text_field_tag :symbol %><br/>
    <%= label_tag :start_date, "Start Date" %> <%= text_field_tag :start_date, nil, :class => 'datepicker' %>
    <%= label_tag :end_date, "End Date" %> <%= text_field_tag :end_date, nil, :class => 'datepicker' %> <br/>
    <%= submit_tag :draw %>
<% end %>

<!--
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

< % @stock_charts.each do |stock_chart| %>
  <tr>
    <td>< %= link_to 'Show', stock_chart %></td>
    <td>< %= link_to 'Edit', edit_stock_chart_path(stock_chart) %></td>
    <td>< %= link_to 'Destroy', stock_chart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
< % end %>
</table>
-->




