<h1>Stock Chart</h1>

<% content_for :javascript_includes do %>
  <script type="text/javascript">
      $(function() {
          $('.datepicker').datepicker(
                  {
                      dateFormat: "yy-mm-dd"
                  }
          );
      });
  </script>
<% end %>

<%= form_for @stock_chart_query, :url => goto_stock_chart_url, :method => 'get'  do |f| %>
    <% if @stock_chart_query.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@stock_chart_query.errors.count, "error") %>: </h2>
          <ul>
            <% @stock_chart_query.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.label :symbol, "Stock Symbol" %><%= f.text_field :symbol %> <br/>
    <%= f.label :start_date, "Start Date" %> <%= f.text_field :start_date, :class => 'datepicker' %>
    <%= f.label :end_date, "End Date" %> <%= f.text_field :end_date, :class => 'datepicker' %> <br/>
    <%= f.submit "Draw Chart" %>
<% end %>


<!--
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

< % @stock_charts.each do |stock_chart| %>
  <tr>
    <td>< %= link_to 'Show', stock_chart %></td>
    <td>< %= link_to 'Edit', edit_stock_chart_path(stock_chart) %></td>
    <td>< %= link_to 'Destroy', stock_chart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
< % end %>
</table>
-->




