<!DOCTYPE html>
<html>
<head>
  <title>OcCharts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<%= yield %>

<!-- %= render 'layouts/_footer' % -->

</body>
</html>
