<!DOCTYPE html>
<html>
<head>
  <title>OcCharts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= include_controller_javascript %>
  <%= yield :javascript_includes %>
<!--
  <%= include_controller_stylesheet %>
-->
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'layouts/header' %>

<%= yield %>

<!-- %= render :partial => 'footer' % -->

</body>
</html>
